# Jupyterlab {{ language }} Language Pack

{{ language }} language pack for the JupyterLab ecosystem.

## Install

### pip

```bash
pip install jupyterlab-language-pack-{{ locale }}
```

### conda

```bash
conda install -c conda-forge jupyterlab-language-pack-{{ locale }}
```

## Contributing

To contribute to this package please visit the [Crowdin site](https://crowdin.com/project/jupyterlab).
